<div class="container" >
    <div class="row">
        <div class="s12 col">
            <h3>HashTagMe</h3>
            <br>
            <form class="forms forms-inline input-field" ng-submit="getTag(query)">
                <input type="text" class="input-big width-50" id="query" ng-model="query">
                <label for="query">Search for HashTag</label>
            </form>
            <div ng-repeat="pic in pics">
                <img class="responsive-img" ng-src="{{pic.images.standard_resolution.url}}">
            </div>
            
        </div>
    </div>
    
</div>